{% extends 'layout/user.html' %}

{% block user_content %}
<div class="content">
    <div class="header">
        <img src="{{ request.user.userprofile.image.url }}" alt="Avatar" class="avatar">
        <div>
            <h2>修改用户信息</h2>
            <p>请更新您的个人信息。</p>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- 自动渲染表单字段 -->
        <button type="submit" class="save-btn">保存修改</button>
    </form>
</div>

{% endblock %}