{% extends 'layout/basic.html' %}
{% load static %}




{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            font-size: 12px;
            position: absolute;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="account">
            <div class="title">输入邮箱地址找回密码</div>
            <form id="ForgetPwdForm" method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-xs-4">
                        <button id='btnSubmit' type="button" class="btn btn-primary">确定</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindClickSubmit();
        });

        function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                event.preventDefault();
                console.log('看看到了没')

                $('.error-msg').empty();


                $.ajax({
                    type: 'POST',
                    url: "{% url 'users:forget_pwd' %}",
                    data: $('#ForgetPwdForm').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        console.log('这里')

                        if (res.status) {
                            location.href = res.data;
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next('.error-msg').text(value[0]);
                            })
                        }
                    }

                })
            })
        }

    </script>
{% endblock %}