{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}首页{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            font-size: 12px;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <p>登陆成功</p>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindClickSubmit();
        });


        function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                event.preventDefault();

                $('.error-msg').empty();

                $.ajax({
                    type: 'POST',
                    url: "/register/",
                    data: $('#regForm').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next('.error-msg').text(value[0]);
                            })
                        }
                    }

                })
            })
        }

    </script>
{% endblock %}