<div class="user-profile">
    <div class="profile-header">
        <!-- 用户头像 -->
        <div class="profile-avatar">
            <img src="{{ MEDIA_URL }}{{ request.user.image.url }}" alt="User Avatar" width="150"
                 height="150">
        </div>
    </div>

    <!-- 用户个人信息表 -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th colspan="2" class="text-center">用户个人信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>用户名</th>
            <td>{{ request.user.username }}</td>
        </tr>
        <tr>
            <th>昵称</th>
            <td>{{ request.user.userprofile.nickname }}</td>
        </tr>
        <tr>
            <th>生日</th>
            <td>{{ request.user.userprofile.birthday }}</td>
        </tr>
        <tr>
            <th>性别</th>
            <td>{{ request.user.userprofile.get_gender_display }}</td>
        </tr>
        <tr>
            <th>邮箱</th>
            <td>{{ request.user.email }}</td>
        </tr>
        <tr>
            <th>个人简介</th>
            <td>{{ request.user.userprofile.desc }}</td>
        </tr>
        </tbody>
    </table>
</div>