

<div class="container">
    <!-- 个人信息头部 -->
    <div class="profile-header">
        <img src="{{ request.user.userprofile.image.url }}" alt="Avatar" class="avatar">
        <div>
            <div class="nickname">
                {% if request.user.userprofile.nickname %}
                    <span>{{ request.user.userprofile.nickname }}</span>
                {% else %}
                    <span>{{ request.user.username }}</span>
                {% endif %}
            </div>
            <div class="description">
                {% if  request.user.userprofile.desc %}
                    <span>{{ request.user.userprofile.desc }}</span>
                {% else %}
                    <span>这个人很神秘</span>
                {% endif %}

            </div>
        </div>

        <!-- 内容部分 -->

    </div>



</div>