
<div class="content">
    <div class="header">
        <img src="{{ request.user.userprofile.image.url }}" alt="Avatar" class="avatar">
        <div>
            <h2>{{ request.user.userprofile.nickname }}</h2>
            <p>{{ request.user.userprofile.signature }}</p>
        </div>
        <a href="{% url 'editor_users' %}" class="edit-link">修改信息</a>
    </div>
    <table>
        <tr>
            <th>昵称</th>
            <td>{{ request.user.userprofile.nickname }}</td>
        </tr>
        <tr>
            <th>性别</th>
            <td>{{ request.user.userprofile.get_gender_display }}</td>
        </tr>
        <tr>
            <th>生日</th>
            <td>{{ request.user.userprofile.birthday }}</td>
        </tr>
    </table>
    <h3>个人简介</h3>
    <p>{{ request.user.userprofile.desc }}</p>
</div>
