{% extends 'layout/user.html' %}

{% block user_content %}
    <form method="post" enctype="multipart/form-data" id="post-form">
        {% csrf_token %}

        <!-- 渲染文章内容表单 -->
        <fieldset>
            {{ post_form.as_p }}
        </fieldset>

        <!-- 图片上传表单 -->
        <fieldset>
            <div>
                <input type="file" name="image" class="form-control post-img" multiple>  <!-- 允许多选文件 -->
            </div>
        </fieldset>

        <!-- 操作按钮 -->
        <button type="submit" name="publish" class="btn btn-primary">发布</button>
        <button type="submit" name="save_draft" class="btn btn-secondary">保存为草稿</button>
        <button type="submit" name="save_draft" class="btn btn-secondary"> <a href="{% url 'blog:my_posts' %}">取消</a></button>

    </form>

    <style>
    .post-img{
        margin-bottom: 10px;
    }
    </style>
{% endblock %}
