{% extends 'layout/base.html' %}
{% load static %}
{% load category %}

{% block title %}首页{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content_left %}
    <section class="section">
        <div class="container blog-container">
            {% for post in post_list %}
                <div class="box blog-box">
                    <h1 class="title small-title">
                        <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
                    </h1>
                    <p class="subtitle post-info">
                        <span class="author">作者：
                            <a href="{% url 'blog:author_profile' post.owner.id %}">{{ post.owner.username }}</a>
                        </span>
                        <span class="date">发布日期：{{ post.add_date|date:"Y年m月d日 H:i" }}</span>
                    </p>
                    <p>{{ post.content|truncatechars:50 }}</p>
                </div>
            {% endfor %}
        </div>

        <!-- 分页区域：直接使用自定义分页插件生成的 HTML -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ page_html|safe }}
            </ul>
        </nav>
    </section>
{% endblock %}

{% block js %}
{% endblock %}
